*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-size: 25px;
}
body{
    overflow-x: hidden;
}
nav{
    padding: 30px 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eafaf1;
    font-weight: 700;
}
nav a{
    text-decoration: none;
    margin-left: 40px;
    color: #00ad6a;
    font-size: 18px;
}
.navbar a:hover, a:focus{
    color: #080c16;
}
nav a:last-child{
    padding: 5px 25px;
    border: solid #00ad6a 2px;
}
nav a:last-child:hover{
    position: relative;
    color: #00ad6a;
    left: 10px;
    top: -10px;
    box-shadow: -5px 5px #00ad6a;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu{
    display: none;
}
.logo img{
    width: 120px;
    height: 60px;
}
.trial{
    background-color: #eafaf1;
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 1px solid #adadad;
}
.content{
    width: 100%;
    margin: auto;
    padding: 30px;
    text-align: center;
    line-height: 45pt;
}
.content h1{
    margin-top: 70px;
    font-size: 60px;
}
.content h2{
    font-size: 38px;
}
.trial-button{
    margin-top: 30px;
    margin-bottom: 60px;
}
.trial-button a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 24px;
    padding: 20px 40px;
    background-color: #37b4e2;
    border: 1px solid #37b4e2;
    margin-top: 30px;
}

.manage{
    padding: 30px 180px;
}
.manage-top{
    /* display: grid;
    grid-template-columns: 20% 80%;
    gap: 120px; */
    display: flex;
    justify-content: space-between;
}
.manage-top .text{
    display: flex;
    align-items: center;
    justify-content: start;
}
.manage-top img{
    max-width: 100%;
}
.text h2{
    font-size: 40px;
    /*margin-right: 100px;*/
}
.flow{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    margin-top: 50px;
    gap: 40px;
    line-height: 1.5;
}
.flow h3{
    font-size: 20px;
}
.flow p{
    font-size: 18px;
    font-weight: 50;
}

.visualize{
    padding: 30px 180px;
    background-color: #eafaf1;
    padding-bottom: 50px;
}
.manage-second{
    /* display: grid;
    grid-template-columns: 20% 80%;
    gap: 120px; */
    display: flex;
    justify-content: space-between;
}
.manage-second .text2{
    display: flex;
    align-items: center;
}
.image2 img{
    max-width: 100%;
}
.text2 h2{
    font-size: 40px;
}
.flow2{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    margin-top: 50px;
    gap: 40px;
    line-height: 1.5;
}
.flow2 h3{
    font-size: 20px;
}
.flow2 p{
    font-size: 18px;
    font-weight: 50;
    line-height: 1.5;
}

.sign{
    text-align: center;
    padding: 50px;
    background-image: linear-gradient(to right, #00ad6a, #09ffa0);
}
.sign a{
    font-size: 35px;
    font-weight: 700;
    color: white;
}
.sign a:hover{
    color: rgb(27, 24, 24);
}

.connect{
    padding: 30px 180px;
    padding-bottom: 50px;
}
.manage-third{
    /* display: grid;
    grid-template-columns: 20% 80%;
    gap: 120px; */
    display: flex;
    justify-content: space-between;
}
.manage-third .text3{
    display: flex;
    align-items: center;
}
.image3 img{
    max-width: 100%;
}
.text3 h2{
    font-size: 40px;
}
.flow3{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    margin-top: 50px;
    gap: 40px;
    line-height: 1.5;
}
.flow3 h3{
    font-size: 20px;
}
.flow3 p{
    font-size: 18px;
    font-weight: 50;
    line-height: 1.5;
}

.Share{
    padding: 30px 180px;
    padding-bottom: 50px;
    background-color: #eafaf1;
}
.manage-fourth{
    /* display: grid;
    grid-template-columns: 20% 80%;
    gap: 120px; */
    display: flex;
    justify-content: space-between;
}
.manage-fourth .text4{
    display: flex;
    align-items: center;
}
.image4 img{
    max-width: 100%;
}
.text4 h2{
    font-size: 40px;
}
.flow4{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    margin-top: 50px;
    gap: 40px;
    line-height: 1.5;
}
.flow4 h3{
    font-size: 20px;
}
.flow4 p{
    font-size: 18px;
    font-weight: 50;
    line-height: 1.5;
}

.footer{
    /* padding: 100px 100px 20px 180px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #080c16;
}

.details{
    padding: 100px 100px 20px 180px;
    /* display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 5px; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
    line-height: 2.3;
}
.details h3{
    color: #fff;
}
.details a{
    font-size: 18px;
    color: #02e48d;
    text-decoration: none;
}
.details a:hover{
    color: #fff;
}
.inner-det{
    display: flex;
    justify-content: start;
}
.product, .company, .resources{
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.logosign{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-right: 150px; */
}

.logosign a{
    background-image: linear-gradient(to right, #00ad6a, #09ffa0);
    padding: 12px 30px;
    margin-top: 50px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #080c16;
}
.logosign a:hover{
    position: relative;
    left: 10px;
    top: -10px;
    box-shadow: -7px 7px #797979;
    color: #080c16;
}
.logosign img{
    width: 160px;
    height: 66px;
}

.copy{
    padding: 0 100px 20px 180px;
}
.copy p{
    font-size: 13px;
    font-weight: 10;
    color: rgb(159, 157, 155);
}

.copy p a{
    font-size: 13px;
    font-weight: 10;
    color: rgb(159, 157, 155);
    line-height: 1.5;
}

/* Customer Stories Styles below this line*/

.testimonials{
    background-color: #eafaf1;
}

.person1 img, .person2 img, .person3 img, .person4 img{
    border: 1px solid #080c16;
    border-radius: 50%;
    margin: 10px auto;
    transform: scale(1.2);
}

.testimonials h1{
    font-size: 70px;
    text-align: center;
    padding: 5px 450px;
}
.testimonials-section{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 10px;
    padding: 20px 240px;
}
.testimonials-section img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
.testimonials-section p{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    margin: 20px 10px;
}
.testimonials-section h5{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0;
    padding: 0;
}
.testimonials-section a{
    color: #00ad6a;
    margin-top: -25px;
    font-size: 20px;
    font-weight: 700;
}
.person1, .person2, .person3, .person4{
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr 1fr;
    gap: 0px;
}


.Story{
    padding: 40px 240px;
    background-color: rgb(251, 251, 251);
}
.Story p{
    text-align: center;
    padding: 50px 0;
    font-size: 20px;
    color: #2e3139;
}
.stories{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}
.story-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 25px;
    padding-bottom: 50px;
    border: 1px solid rgb(197, 195, 195);
    background-color: #fff;
}

.story-items p{
    text-align: start;
    font-size: 22px;
    font-weight: 200;
}
.story-items h5{
    font-size: 18px;
}
.story-items a{
    font-size: 18px;
    color: #00ad6a;
}

/* Pricing style below this line*/

.try{
    text-align: center;
    padding: 0 240px;
    background-color: #eafaf1;
    padding-bottom: 50px;
}
.try h1{
    font-size: 70px;
    padding: 0 440px;
}
.try p{
    padding: 10px 380px;
    font-size: 23px;
    font-weight: 390;
}

.options{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 240px;
    background-color: #eafaf1;
}
.basics{
    padding: 60px 20px;
}
.basics h2{
    margin-top: 70px;
    padding: 0 70px 0 0;
    color: #00ad6a;
}
.basics ul{
    padding: 10px 20px;
}
.basics ul li{
    padding: 5px 5px;
    font-size: 20px;
    font-weight: 300;
}
.basics p{
    font-size: 20px;
    font-weight: 300;
}
.basics p a{
    font-size: 20px;
    color: #080c16;
    font-weight: 400;
}
.business{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #00ad6a;
    border-radius: 15px 15px 0 0;
    background-color: #fff;
}
.business .top{
    text-align: center;
    padding: 5px 0;
    font-size: 15px;
    background-color: #00ad6a;
    border-radius: 8px 8px 0 0;
    color: #fff;
}
.business h1{
    font-size: 50px;
    text-align: center;
    color: #00ad6a;
    padding: 35px 0 5px 0;
}
.price1{
    text-align: center;
    font-weight: 200;
}
.business a{
    margin: 30px auto;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #06f398;
    width: 50%;
    background-color: #06f398;
    color: #2e3139;
    font-weight: 700;
}
.business a:hover{
    color: #080c16;
    transform: scale(1.1);
}
.more1{
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #2e3139;
}
.business ul{
    padding: 15px 35px 25px 35px;
    margin-bottom: 30px;
    list-style: none;
}
.business ul li{
    display: grid;
    grid-template-columns: 8% 92%;
    padding: 5px 5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}
.extra{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-top: 50px;
    border: 1px solid #e8e7e7;
}
.extra .topextra{
    font-size: 18px;
    padding: 30px 50px;
    font-size: 300;
    text-align: center;
    color: #2e3139;
    background-color: #f0f0f0;
}
.extra h2{
    text-align: center;
    font-weight: 400;
    font-size: 50px;
    padding: 20px 50px 0 50px;
    color: #05da89;
}
.price2{
    text-align: center;
    font-weight: 300;
}
.extra a{
    margin: 30px auto;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #05da89;
    background-color: #05da89;
    color: #2e3139;
    font-weight: 700;
}
.extra a:hover{
    color: #080c16;
    transform: scale(1.1);
}
.more2{
    margin-bottom: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #2e3139;
}
.extra ul{
    padding: 15px 30px 25px 35px;
    margin-bottom: 30px;
    list-style: none;
}
.extra ul li{
    display: grid;
    grid-template-columns: 8% 92%;
    padding: 5px 5px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}
.extra .background{
    z-index: 3px;
    padding-bottom: 0;
    margin-bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #eafaf1;
    border: 1px solid #eafaf1;
}

.subvert{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eafaf1;
}
.subvert img{
    margin: 50px 0 30px 0;
}
.subvert p{
    text-align: center;
    font-size: 30px;
    padding: 0 400px;
    margin-bottom: 25px;
}
.subvert h5{
    font-size: 17px;
    color: #00ad6a;
    margin-bottom: 140px;
}
.faq{
    padding: px 240px;
}
.faq h1{
    font-size: 70px;
    margin: 40px 0;
}
.questions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}
.question-items{
    margin: 20px 0;
}
.question-items h2{
    margin-bottom: 10px;
}
.question-items p{
    font-weight: 300;
    color: #8f8e8e;
}

/* Signup style below this line */

.signupnav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.signupnav img{
    margin: 8px auto;
    width: 200px;
    height: 80px;
}
.signupnav p{
    margin-top: 30px;
    font-weight: 400;
    font-size: 23px;
    color: #797979;
}
.signing{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 460px;
    line-height: 1.5;
}
form{
    border: 0.5px solid #8f8e8e;
    
    margin: 20px 10px 40px 10px;
    box-shadow: 3px 3px 30px #c5c4c4;
}
form .container, form .container2{
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
}
form .container input{
    width: 100%;
    height: 1.8em;
    border-radius: 5px;
    border-color: #c5c4c4;
    box-shadow: 3px 0 10px #c5c4c4;
    text-indent: 10px;
}
form .container label,
form .container h3,
form .container p{
    font-size: 18px;
}
.site{
    width: 100%;
    margin-top: 30px;
    padding: 40px 30px;
    background-color: #e8e8e8;
    color: #696969;
    line-height: 1.5;
}
.site h3, .site p{
    font-size: 15px;
}
.site p{
    font-weight: 400;
}
.site input{
    margin-top: 30px;
    width: 50%;
    border-radius: 5px;
    border-color: #c5c4c4;
    box-shadow: 3px 0 10px #c5c4c4;
    text-indent: 10px;
}
.site input:hover, .container input:hover, .container2 input:hover{
    border: 1px solid #2596be;
    box-shadow: 1px 0 5px #2596be ;
}

.plus, .cancel{
    padding: 25px 50px;
    padding-right: 80px;
}
.cancel{
    padding-top: 80px;
}
.plus h3, .plus p, .plus a,
.cancel h3, .cancel p, .cancel a{
    font-size: 18px;
    line-height: 1.7;
}
.plus p{
    margin-bottom: 30px;
}

.plus h2{
    font-size: 45px;
    font-weight: 700;
    color: #2e3139;
}
.testimonial-casimir{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 5px;
    margin: 15px 0;
    padding: 20px 0;
    border-top: 1px solid #797979;
    border-bottom: 1px solid #797979;
}
.testimonial-casimir h5{
    font-size: 18px;
}
.testimonial-casimir img{
    transform: scale(0.7);
    border: 2px solid #e8e7e7;
    border-radius: 50%;
}
.casimir-position{
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;
}
.casimir-position h5, .casimir-position h6{
    font-size: 15px;
}
.plus a{
    padding: 30px 0;
    font-size: 25px;
    font-weight: 700;
    color: #62b6d5;
}
.bill h1{
    padding: 0 10px;
}
.container2 label, .container2 input{
    padding: 10px 0;
    font-size: 18px;
}
.container2 input{
    border-radius: 5px;
    border-color: #c5c4c4;
    box-shadow: 3px 0 10px #c5c4c4;
    text-indent: 20px;
}
.container2 p{
    padding-top: 40px;
    font-size: 18px;
}

.description{
    padding: 0 460px;
    margin-bottom: 50px;

}
.description p{
    margin: 20px 0;
    font-size: 22px;
}
.description label, .description a{
    font-size: 20px;
    color: #080c16;
}
.checks{
    margin-bottom: 50px;
}
.checks a{
    color: #2596be;
    text-decoration: none;
    font-weight: 900;
}
.descriptiontrial{
    font-weight: 700;
    color: #080c16;
    background-color: #05da89;
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 10px;
}
.description .descriptiontrial a{
    font-size: 50px;
}

.signfooter{
    margin-top: 150px;
    background-color: #080c16;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px 250px;
}
.signfooter p, .signfooter a{
    font-size: 15px;
    font-weight: 300;
    color: #9f9f9f;
}


/* features media query */
@media screen and (max-width: 1101px){
    .nav{
        padding: 30px 100px;
    }
    .manage{
        padding: 30px 140px;
    }
    .visualize{
        padding: 30px 140px;
    }
    .connect{
        padding: 30px 140px;
    }
    .Share{
        padding: 30px 140px;
    }
    .navbar a{
        font-size: 15px;
    }
    .logo img{
        transform: scale(0.8);
    }
    .content h1{
        font-size: 40px;
    }
    .content h2{
        font-size: 25px;
    }
    .trial-button a{
        font-size: 20px;
    }
    .details{
        padding: 100px 60px 20px 120px;
    }
    .logosign img{
        max-width: 100px;
    }
    .logosign a{
        font-size: 12px;
    }
}
@media screen and (max-width: 940px){
    .details{
        display: flex;
        flex-direction: column;
    }
    .logosign a{
        max-width: 30%;
        margin-bottom: 30px;
    }
}
